<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<%- include partials/header.ejs %>

  <div class="container">
    <a class="brand-logo" href="#">
        <img src="/images/logo-transparent-white.png" class = "center">
        
    </a> 

    <p class="join-text">Hi There! Welcome to 
    <span class="accent-text">AJ platform.</span></p>
    </p>Mission: To bring to the world highly reliable and sustainable Software & Robotic solutions. 
    </p>        
    <a href = "about" class = "btn" role = "button">Dive In</a>
  </div>     

  

<%- include partials/footer.ejs %>
