<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/project.css">
</head>
<body>
<%- include ('partials/header'); -%>

<a id="service-link"></a>

    <div class = "service-container">
        <h3>Services</h3>
        <div class="service-wrapper">
            <section class="service-divider">
                <div class="service-section">
                    <h4 class="service-name">Programming</h4>
                    <img class="service-image" src = "images/Programming.jpg" alt="programming">
                    <p class="services-stack">Stacks</p>
                    <p class="service-language">Python, Express, HTML5, CSS, Nodejs, C#, Java and Debugging</p>
                </div>
                <div class="service-section">
                    <h4 class="service-name">Data Analytics</h4>
                    <img class="service-image" src = "images/Data Analytics.jpg" alt="data Analytics">
                    <p class="services-stack">Stacks</p>
                    <p class="service-language">COMSOL Multiphysics, Machine learning, SQL, PL/SQL</p>
                </div>
            </section>
            
            <section class="service-divider">
                <div class="service-section">
                    <h4 class="service-name">Electrical Testing</h4>
                    <img class="service-image" src = "images/Electrical_Testing.jpg" alt="Electrical testing">
                    <p class="services-stack">Stacks</p>
                    <p class="service-language">Circuit Analysis/Design, System design, Embedded system, PLC, Soldering</span>
                </div>
                <div class="service-section">
                    <h4 class="service-name">Mechanical Design and Manufacture</h4>
                    <img class="service-image" src = "images/Mechanical Design and Manufacture.jpg" alt="Mechanical">
                    <p class="services-stack">Stacks</p>
                    <p class="service-language">Solid mechanics, SolidWorks</p>
                </div>
            </section>
            
        </div>
    </div>

    <hr class="section-divider">

    <div class = "project-container">
        <a id="project-link"></a>
        <h3>Projects</h3>
        <div class="project-wrapper">
            <section class="project-dividerTwo">
                <div class="img-wrapperTwo">
                    <img class="project-image" src = "images\RMS.jpg" alt="RMS image" style="width: 30pc; height: 20pc; border-radius: 1rem;">
                    
                </div>
                <div class="project-section">
                    <p class="project-name"> Robotic Management System<Span > (2022)</Span> </p>
                    <span class="content"> Designed a software that interacts with its robotic external component to perform several tasks assigned by the health care professional.
                        Utilised the Agile Methodology Approach and the System Development Lifecycle to implement the System Requirement Specification and the System Design Architecture.
                    </span>
                </div>
                
            </section>

            <section class="project-dividerTwo">
                
                <div class="project-section">
                    <p class="project-name"> Detection of Oxygen in a Microfluidic Device<Span > (2019-2020)</Span> </p>
                    <span class="content"> Simulated and analysed a microfluidic device to ensure effective growth of three, 
                    3D bovine embryo tissue in an in-vitro environment.
                    Designed each component in the device using SolidWorks and analysed each component individually 
                    in COMSOL Multiphysics software.
                    Applied mathematics and fluid physics to analyse the oxygen diffusion, concentration as well as the oxygen 
                    consumption rate of the 3D embryo tissues in the device. 
                    Proposed the most suitable micro-sensor and its best position of attachment to the microfluidic device.
                    </span>
                </div>
                <div class="img-wrapperTwo">
                    <img class="project-image" src = "images\Microfluidic Device Image.png" alt="Microfluidic image" style="width: 30pc; height: 30pc; border-radius: 1rem;">
                </div>
            </section>

            <section class="project-dividerTwo">
                <div class="img-wrapperTwo">
                    <img class="project-image" src = "images\TurtleBot_Image.png" alt="Turtlebot image" style="width: 30pc; height: 20pc; border-radius: 1rem;">
                    
                </div>
                <div class="project-section">
                    <p class="project-name"> Game Technology - Cluedo Game<Span > (2019)</Span> </p>
                <span class="content"> Implemented a program on Linux work environment that controls a Turtlebot robot to find and identify a Cluedo character in an environment.
                    Used Python programming language to execute the game and Rviz for robot localization and mapping environment in a simulated and real world.
                    </span>
                </div>
            </section>

            <section class="project-dividerTwo">
                <div class="project-section">
                    <p class="project-name"> Classy Colonoscopy<Span > (2019)</Span> </p>
                    <span class="content"> Designed and built a planar robot arm with a magnet at the end effector with 2 rotary joints.
                    Used Kinematics principles to get the coordinates of movement of the robot arm to enable it to 
                    move accurately according to the shape of the colon as well as SolidWorks to design the robotic arm. 
                    LabView application was used to programme and control the speed and functions of each part of the robotic arm. 
                    </span>
                </div>
                <div class="img-wrapperTwo">
                    <img class="project-image" src = "images\Classic Colonoscopy Image.jpg" style="width: 30pc; height: 20pc; border-radius: 1rem;">
                    
                </div>
            </section>

        </div>
    </div>
    
    <%- include ('partials/footer'); -%>
</body>
</html>