.container{
    background:-webkit-linear-gradient(rgba(255, 0, 0, 0.381),rgb(165, 95, 42));    
    margin-bottom: 5rem;
    color: white;
    background-size: 100px;
    margin-top: 25mm;
    padding-top: 10rem;
}