/* // Filename: index.css
// Student: Abasibiangake James
// StudentId: 301208739
// Date: Jun 21, 2022 */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    flex-grow: 1;
} 

.accent-text{
    /* font-family:cursive; */
    font-weight:bolder;
    font-size: 2rem;
    color: rgb(107, 36, 36);
}