/* // Filename: list.css
// Student: Abasibiangake James
// StudentId: 301208739
// Date: Jun 21, 2022 */

.table-responsive{
    background:-webkit-linear-gradient(rgba(255, 0, 0, 0.381),rgb(165, 95, 42));    
    margin-bottom: 5rem;
    color: white;
}